.beforeMain {
    display: flex;
    justify-content: center;
}

.mainForm {
    background-color: rgb(224, 247, 247);
    padding: 5px;
    width: 1000px;
    border: 2px solid teal;
    display: flex;
    flex-direction: column;
}

.form {
    font-size: 40px;
    padding: 0px;
    margin: 0px;
}

